* {
  font-family: Helvetica, sans-serif;
}

img {
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-width: 50rem;
  max-width: 50rem;
  background-color: rgb(247, 244, 243);
}

nav > ul > li > a {
  background-color: rgb(255, 218, 139);
  padding: 7px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
}

nav > ul > li > a:hover {
  background-color: rgb(234, 200, 125);
}

.section {
  margin-top: 40px;
}

.project {
  background-color: rgb(255, 233, 185);
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
